<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="top-section">
        <div class="logo">
          <img src = "/images/Kainos 800x250 Logo (Transparent BG).png" alt="Company Logo" />
        </div>
    <h1>User Information</h1>

    <% if (user) { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
            </tbody>
        </table>
    <% } else { %>
        <p>No user found.</p>
    <% } %>
    <footer><p class = "f1"> Kainos 4-6 Upper Cres, Belfast BT7 1NT</p></footer>
    
</body>
</html>
